# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
.DS_Store

# Node / Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/

# Docker (如果不希望版本控制日志)
*.log
redis_data/
